.DS_Store
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
output
secrets
.vscode
.eslintcache
.vs
.idea
.env
node_modules/

# Terraform:
**/terraform/infra/.terraform
**/terraform/infra/working*
*.user
*.suo